* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#game {
    position: relative;
    /* z-index: 2; */
    /* width: 700px;
    height: 400px; */
    background-color: #fff;
}

#ui {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#ui button {
    margin: 5px;
}

.toolbar {
    position: absolute;
    /* z-index: 2; */
    pointer-events: none;
    border-bottom: 1px solid #000;
}

.toolbar.left {
    left: 0;
    top: 0;
}

.toolbar.left .tool {
    border-width: 0 1px 0 0;
}

.toolbar.right {
    right: 0;
    top: 0;
}

.toolbar.right .tool {
    border-width: 0 0 0 1px;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    height: 24px;
    background: center center no-repeat;
    background-color: #fff;
    border: solid #000;
    position: relative;
}

.tool:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.tool.empty {
    border-width: 1px 0 1px 0 !important;
    background-color: transparent;
    pointer-events: none;
}
