@font-face {
    font-family: 'Ubuntu-R';
    src: url('./font/Ubuntu-R.woff2');
    /* src: url('./font/Ubuntu-R.woff'); */
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    font: 18px 'Ubuntu-R';
}

body {
    background-color: #000;
    overflow: hidden;
}

#game {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#ui {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#ui button {
    font: 1rem 'Ubuntu-R';
    margin: 5px;
}

.toolbar {
    position: absolute;
    pointer-events: none;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.toolbar.left {
    left: 0;
    top: 0;
}

.toolbar.left .tool {
    border-width: 0 1px 0 0;
}

.toolbar.right {
    right: 0;
    top: 0;
}

.toolbar.right .tool {
    border-width: 0 0 0 1px;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    height: 32px;
    width: 38px;
    background: center center no-repeat;
    background-color: rgba(255, 255, 255, 0.84);
    position: relative;
}

svg {
    transition: 0.2s ease-out;
    padding: 2px;
    border-radius: 8px;
}
.tool:hover {
    cursor: pointer;
}
.tool:hover > svg {
    transition: 0s;
    background-color: rgba(0, 0, 0, 0.14);
}
.tool:active > svg {
    background-color: rgba(0, 0, 0, 0.18);
}

.tool.empty {
    border-width: 1px 0 1px 0 !important;
    background-color: transparent;
    pointer-events: none;
}
