@font-face {
    font-family: 'Ubuntu-R';
    src: url('./font/Ubuntu-R.woff2');
    /* src: url('./font/Ubuntu-R.woff'); */
}
@font-face {
    font-family: 'Ubuntu-B';
    src: url('./font/Ubuntu-B.woff2');
    /* src: url('./font/Ubuntu-R.woff'); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font: 18px 'Ubuntu-R';
}

::placeholder {
    font-family: 'Ubuntu-R';
}

body {
    background-color: #000;
    overflow: hidden;
}

button {
    font: 1rem 'Ubuntu-R';
}
button:hover {
    cursor: pointer;
}

#game {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#game-options {
    background-color: #5600c7;
    /* background-color: rgb(15, 87, 51); */
    user-select: none;
}

#game-options .item {
    display: inline-block;
    padding: 0.3rem 0.85rem;
    box-sizing: border-box;
    margin: 0 5px;
    background-color: #fff;
    color: #222;
    border-radius: 4px;
    border: none;
    outline: none;
    vertical-align: middle;
}
#game-options .item:hover {
    cursor: pointer;
    background-color: #eee;
}

#game-options .settings {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 6px 0 6px;
    padding: 4px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    vertical-align: middle;
}
#game-options .settings:hover {
    cursor: pointer;
    transition: 0.2s ease-in;
    transform: rotate(51.43deg);
}

#game-options .chat {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 40px;
    height: 40px;
    margin: 5px 10px;
    padding: 6px;
    border-radius: 5px;
}
#game-options .chat:hover {
    cursor: pointer;
    /* filter: brightness(0.9); */
    background-color: rgba(255, 255, 255, 0.4);
}

#game-content {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
}

#game-screen {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.game-chat {
    position: relative;
    flex: 0 1 0;
    height: 100%;
    transition: 0.4s ease-out;
    background-color: #ddd;
    /* background: linear-gradient(90deg, #bbb, #eee); */
    overflow-x: hidden;
    border-left: none;
}
.game-chat.open {
    flex: 0 1 300px;
    /* border-left: 1px solid #777; */
}

.game-chat .input-cntr {
    display: flex;
    margin: 10px 16px 0 16px;
    padding-bottom: 12px;
    /* border-bottom: 2px solid #bbb; */
}

.game-chat .input {
    flex: 1 1 auto;
    padding-left: 20px;
    outline: none;
    border: none;
    border-radius: 15px;
    font: 15px 'Ubuntu-R';
}

.game-chat .input:focus {
    outline: 1px solid #777;
}

.game-chat .post {
    height: 30px;
    margin-left: 10px;
    padding: 0 14px;
    border-radius: 16px;
    border: none;
    background-color: #fff;
    color: #222;
}

.game-chat .message {
    font-size: 0.8rem;
    margin: 0 16px;
    color: #222;
}

.game-chat .message.name {
    font-family: 'Ubuntu-B';
    margin-top: 10px;
}

.game-chat .post:hover {
    background-color: #fbfbfb;
}

.toolbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    pointer-events: none;
}

.toolbar-group {
    margin: 13px 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.94);
}
.toolbar-group:hover {
    cursor: pointer;
}

.toolbar.left {
    left: 0;
    top: 0;
    margin-left: 8px;
}

.toolbar.right {
    right: 0;
    top: 0;
    margin-right: 8px;
}

.tool {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    height: 44px;
    width: 44px;
}

.tool svg {
    transition: 0.16s ease-out;
    margin: 0 5px;
    padding: 2px;
    border-radius: 8px;
}
.tool:hover > svg {
    transition: 0s;
    background-color: rgba(0, 0, 0, 0.08);
}
.tool:active > svg {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.12);
}

.tool.selected > svg {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.12);
}

.tool.empty {
    background-color: transparent;
    pointer-events: none;
}

#tool-options {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 50%;
    padding: 1px 10px;
    transform: translateX(-50%);
    /* padding: 6px 12px; */
    border-radius: 8px;
    background-color: yellow;
    background-color: rgba(255, 255, 255, 0.94);
    animation: appear 0.15s ease-out;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translate(-50%, -30px);
    }
}

#tool-options .option {
    display: inline-flex;
    width: 60px;
    height: 60px;
}
#tool-options .option:hover {
    cursor: pointer;
}

#tool-options .option.item {
    width: 42px;
    height: 42px;
}

#tool-options svg {
    border-radius: 50%;
    margin: 0 3px;
    padding: 0;
}

#tool-options .option:hover {
    cursor: pointer;
}
